# *Mission to Mars*

### Web Scraping

### *NASA Mars News*

In [1]:
import os
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
browser = Browser('chrome')

In [3]:
mars = {}

In [4]:
# Access the NASA Mars News Site
url = "https://mars.nasa.gov/news/"

In [5]:
# Using Beautiful Soup and assign parser to write webpage data into html
browser.visit(url)
time.sleep(2)
html = browser.html
soup = bs(html,"html.parser")

In [6]:
news_title = soup.find_all("div",class_="content_title")[1].text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: My Culture, My Voice
Para: In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

In [7]:
mars["news_title"]=news_title
mars["news_paragraph"]=news_paragraph

---

In [8]:
### *JPL Mars Space Images - Featured Image*

In [9]:
# Visit the "jpl.nasa.gov" web page
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)
browser.find_by_id("full_image").click()
time.sleep(2)
browser.find_link_by_partial_text('more info').click()

C:\Users\colle\anaconda3\envs\NewPythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [10]:
# Get the image url using BeautifulSoup
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("figure", class_="lede").a.img["src"]
full_img_url = "https://www.jpl.nasa.gov" + img_url
print(full_img_url)
mars["feature_image"]=full_img_url
mars

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14924_hires.jpg

{'news_title': 'My Culture, My Voice',
 'news_paragraph': 'In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.',
 'feature_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14924_hires.jpg'}

---

In [11]:
### *Mars Facts*

In [12]:
url_facts = "https://space-facts.com/mars/"

In [13]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table
mars["fact"]=mars_html_table

---

In [16]:
#### *Mars Hemispheres*

In [17]:
url_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)    
time.sleep(5)       
usgs_soup = bs(browser.html, 'html.parser')
headers = []
titles = usgs_soup.find_all('h3')  
time.sleep(5)
for title in titles: 
  headers.append(title.text)
images = []
count = 0
for thumb in headers:
    browser.find_by_css('img.thumb')[count].click()
    images.append(browser.find_by_text('Sample')['href'])
    browser.back()
    count = count+1
hemisphere_image_urls = []  #initialize empty list to collect titles
counter = 0
for item in images:
    hemisphere_image_urls.append({"title":headers[counter],"img_url":images[counter]})
    counter = counter+1
# closeBrowser(browser)
browser.back()
time.sleep(1)
mars["hemisphere"]=hemisphere_image_urls

In [18]:
mars

{'news_title': 'My Culture, My Voice',
 'news_paragraph': 'In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.',
 'feature_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14924_hires.jpg',
 'fact': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'hemisphere': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]}